._*
.~lock.*
.buildpath
.idea
.project
.settings
.publish

# Ignore node stuff
node_modules/
npm-debug.log
libpeerconnection.log

# OS-specific
.DS_Store

# Bower
bower_components

# Build
tmp
omni-slider.js
omni-slider.min.js
omni-slider.css
omni-slider.min.css
!/src/omni-slider.js
